# Node
node_modules/

# Build
backend/dist/
frontend/dist/
mobile/.expo/
mobile/.expo-shared/

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/dev.db

# Generated assets
backend/generated/

# Uploads
backend/uploads/

# OS
.DS_Store
Thumbs.db
